@import "tailwindcss";

html {
  background: #f8f9ff;
}

body {
  margin: 0;
  background: #f8f9ff;
  color: #0b1c30;
  font-family: "Plus Jakarta Sans", Arial, Helvetica, sans-serif;
  overscroll-behavior: none;
}

button,
a {
  -webkit-tap-highlight-color: transparent;
}

::-webkit-scrollbar {
  display: none;
}
